div#shell {
    display: flex;
    margin: 1vw 2vw;
    // padding: 2vw;
    outline: 5px solid black;

    div.wrapper {
        display: inherit;
        margin: 0 1vw;
        // padding: inherit;

        &#blurbWrapper {
            display: inherit;
            flex-direction: column; // make blurb items flow vertically
        }
    }
}