div.wrapper {
    display: flex;
    flex-direction: row;
    bottom: 0;

    app-sidebar {
        overflow-y: scroll;
        direction: rtl;
        
        display: flex;
        flex-direction: column;
    }

    &#content-wrapper {
        display: inherit;
        flex-direction: column;
        flex-grow: 1;

        margin: 1vw;
    }
}