nav {
    height: 10vh;
    z-index: 2;
    background-color: #3d6a94;
}

footer {
    height: 40vh;
    background-color: rgb(197, 197, 197);
}

.aux {
    width: auto;
    position: sticky;
    top: 0;
}
