div#shell {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 10vh;
    height: fit-content;
    overflow-y: scroll;
    background-color: #ececec;

    h2 {
        margin: 1vh;
        font-weight: normal;
        color: grey;
    }

    div.wrapper {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        padding: 0 5vh;
        width: auto;
        
        transition: .2s ease;

        &:hover {
            background-color: white;
            color: #3d6a94;
        }
    }

}
